@model IEnumerable<ExcelAssignment.Models.Expense>

@{
    Layout = "_Layout";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <form asp-action="Index" asp-controller="Expenses">


        <span class="btn btn-outline-primary" >StartDate :</span> <input type="date" name="StartDate" />
        <span class="btn btn-outline-success" >EndDate :</span > <input type="date" name="EndDate" />
        <input class="btn btn-success" type="submit" value="Get Records" />

    </form>
    <div>
        <h2>All Expense information</h2>
    </div>

    <p>
        <a class="btn btn-primary" asp-action="Create">Create New</a>
        <a class="btn btn-secondary" asp-action="Index" asp-controller="ExpenseCategories">  ExpenseCategory </a>
    </p>
    <table  class="table table-striped table-bordered  table-dark table-sm  ">
        <thead>
            <tr>
                <th scope="col">
                    ExpanseDate
                </th>
                <th scope="col">
                  ExpanseAmount
                </th>
                <th scope="col">
                    ExpenseCategory
                </th>
                <th scope="col">Action</th="col">
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td scope="row">
                        @Html.DisplayFor(modelItem => item.ExDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExAmount)
                    </td>
                    <td >
                        @Html.DisplayFor(modelItem => item.ExpenseCategories.ExCategoryName )
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ExId"class="badge badge-warning">Update</a> |
                        <a asp-action="Delete" asp-route-id="@item.ExId"class="badge badge-danger">Remove</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>

